<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="eng">
<head xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <title>User App</title>

    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/act.js}" defer ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>

<body>
<div>
    <p class="phoneNumber">The phone number is </p>
    <p class="email">The email is </p>
    <p class="firstName">The first name is </p>
    <p class="lastName">The last name is </p>
</div>
</body>
</html>